<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="homeImages" src="http://image3.mouthshut.com/images/Restaurant/Photo/-45295_10380.jpg" alt="Chania">
    </div>

    <div class="item">
      <img class="homeImages" src="http://www.holidaymoods.net/images/1006/medium/1391065817HEAT2003TrekToKuariPass4.jpg" alt="Chania">
    </div>

    <div class="item">
      <img class="homeImages" src="http://www.himalayanoutdoors.com/pimages/trekking/curzon-trail/01.jpg" alt="Flower">
    </div>

    <div class="item">
      <img class="homeImages"  src="http://adventurerafting.in/responsive/images/kuari-pass-trek.jpg" alt="Flower">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <br/>
   <br/>
   <div class="row">

        <div class="col-lg-12">
              
            <ol class="breadcrumb">
                  <h2> </h2> 
            </ol>
        </div>

    </div>
<div class="row">

        <div class="col-md-6">
            <img class="img-responsive blogpage" src="http://www.trekthehimalayas.com/blog/sites/default/files/winter-kuari-pass-trek-11.jpg">
        </div>
        <div class="col-md-6">
            <h2>Winter Trekking to Kuari Pass</h2>

            <p>Life is about experiencing the great adventure and sustain with full enthusiasm. For this we need a change in our schedule and try something new. I have a dream in my mind from childhood that I could climb high mountains and can see the high peaks from front view. So I decided to go on trekking. For this I need information that how I will climb, there is no risk while moving to trek and many more questions rose in my mind. But after searching I got Trek the Himalayas which made my all difficulties very easy. There whole team was very supportive while tract.</p>

         
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive blogpage" src="http://www.trekthehimalayas.com/blog/sites/default/files/winter-kuari-pass-trek-12_0.JPG">
        </div>
        <div class="col-md-6">
            <p>The most extraordinary is the Gorson region, consisting of gigantic heaving green pastures. The trek forward through dense forests and vast pastureland can be seen on the way and grazing of yaks, chirping of birds can be heard. I moved to Auli region covered by vast thick forest, which fascinated me a lot and preety view was very soothing. Trekking in Uttarakhand was a massive experience which is very hilarious to explain in words as I had never thought in life to adventure this type of treasure in life. This trek added the whole charisma of striking picturesque view. But thanks to Trek the Himalayas teammates which helped me in getting my goal and as a whole they were very supportive and helpful to me. This glorious trek in the high alpine regions of Uttarakhand made my trek very audacious and unforgettable.
            </p>
         
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive blogpage" src="http://www.trekthehimalayas.com/blog/sites/default/files/winter-kuari-pass-trek-19_0.JPG">
        </div>
        <div class="col-md-6">
 
            <p>The most extraordinary is the Gorson region, consisting of gigantic heaving green pastures. The trek forward through dense forests and vast pastureland can be seen on the way and grazing of yaks, chirping of birds can be heard. I moved to Auli region covered by vast thick forest, which fascinated me a lot and preety view was very soothing. Trekking in Uttarakhand was a massive experience which is very hilarious to explain in words as I had never thought in life to adventure this type of treasure in life. This trek added the whole charisma of striking picturesque view. But thanks to Trek the Himalayas teammates which helped me in getting my goal and as a whole they were very supportive and helpful to me. This glorious trek in the high alpine regions of Uttarakhand made my trek very audacious and unforgettable.
            </p>
         
        </div>

    </div>